name: Test and Release

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  release:
    types: [ published ]

permissions:
  contents: write

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: 'sbt'
      - name: Check for dependency updates
        run: sbt dependencyUpdatesFailBuild
      - name: Check for unused dependencies
        run: sbt unusedCompileDependenciesTest
      - name: Check for transitive dependencies
        run: sbt undeclaredCompileDependenciesTest
      - name: Run tests
        run: sbt test
      - name: Build fat JAR
        run: sbt assembly
      - name: Rename fat JAR
        run: cp ./target/scala-2.13/watchlistarr-assembly-0.1.0-SNAPSHOT.jar ./target/scala-2.13/watchlistarr.jar
      - name: Upload JAR to GitHub Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ./target/scala-2.13/watchlistarr.jar
